body{
    background-color: #131112;
    color:#ece5f0;
    margin: 0;


}
.navigation {
    height: 10vh;
}

.navigation li a,h5 {
   color:#ece5f0;
   font-size: 1.6rem;
}


.banner-container {
    display: flex;
    justify-content: center;

}
.banner {
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100vh;
    background-position: center;
    animation-name: banner;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes banner{
    0% {background-image: url(./images/logo1.png);}
    50% {background-image: url(./images/logo3.png);}
    100%  {background-image: url(./images/logo2.png);}
 
}

.hero-section {
    height: 40vh;
}

.heading-text{
    height: 5vh;
    color: #42e7ff;
}
.about-me-container {
    width: 90vw;
    
}

.about-me-skills-text {
    margin-left:7%;
}

.about-me-skills{
    margin-top: 20px;
    width: 80%;
    border-left: 10px double gray;
    margin-left: 10%;
    padding-left: 5%;
}
.details {
    margin: 5% auto;
}
.skills-container{
    height: 30vh;
}
/* .skills{
    margin-top: 20px;
    width: 80%;
    border-left: 10px double gray;
    margin-left: 10%;
    padding-left: 5%;
} */
.skills-title{
    margin: auto ;
    
}

.skills li {
    display: inline;
    list-style: none;
}
.banner-text, .icons {
    color: #ece5f0;
}
.works {
    width: 50vw;
    height: 50vh;
}
.image-container{
  position:relative;
  height:100%;
  width:100%;
  margin:0 auto;
}

@keyframes cf3FadeInOut {
    0% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.image-container img.top {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
}

.image-container img {
    position: absolute;
    left: 0;
}

footer {
    height: 10vh;
}

@media screen and (min-width:481px) {
    .about-me-container {
        height: 60vh;
        width: 90vw;
    }    
}