body{
    background-color: #131112;
    color:#ece5f0;
    margin: 0;

}
/* .navigation{
    background-color: #131112
} */
.navigation li a,h5 {
   color:#ece5f0;
   font-size: 2rem;
   
}
.navigation {
    height: 10vh;
}

.banner-container {
    display: flex;
    justify-content: center;

}
.banner {
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100vh;
    background-position: center;
    animation-name: banner;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes banner{
    0% {background-image: url(./images/logo1.png);}
    50% {background-image: url(./images/logo3.png);}
    100%  {background-image: url(./images/logo2.png);}
 
}
.about-me-skills-container{
    min-width: 375px;
    height: 40vh;

    
}

.details {
    margin: 5% auto;
}
.skills{
    width: 80%;
}
.skills-title{
    margin: 10px;
    padding:10px;
}

.skills li {
    display: inline;
    list-style: none;
}
.banner-text, .icons {
    color: #ece5f0;
}
.works {
    height: 40vh;
    width: 30vw;
}